<html>
    <head>
        <title>Red Ed.</title>

        <link rel="icon" type="image/png" href="/cal.png" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />


        <style>
    body {
                    font-family: Helvetica, sans-serif; 
        background-color: rgb(101, 0, 0);
        font-size: 15px;
      }

      .poster-inline {
        position: relative; 
        width: 6vw;
        float: left;
        box-shadow: 0px 3px 3px 3px rgb(202, 0, 0);
        transition: width 1s; 
      }

      .poster-inline:hover {
        width: 30vw;
      }



      a {
        color: black;
      }

      #menu {
        position: fixed;
        bottom: 0;
        padding: 2vw;
        width: 210px;
        right: 0;
      }

      .date,
      #menu,
      .more-info,
      .close,
      #about, table {
        background-color: rgb(252, 83, 83);
        color: rgb(71, 0, 0);
        box-shadow: 0px 3px 12px 3px rgb(120, 0, 0);
        z-index: 10;
      }

      table, th, td {
        border: 1px solid;
        }

        .approve-css {
            all: unset;
            box-shadow: 0px 3px 3px 3px rgb(202, 0, 0);
            font-size: 45px; 
            border-radius: 50%; 
            color: white; 
            text-shadow: 1px 1px 6px rgb(101, 0, 0); 
            background-color: rgb(255, 0, 230); 
            cursor: pointer;
            padding: 12px; 
            border: 1px dotted red; 
            transition: box-shadow 1s, border 1s;
        }

        .approve-css:hover {
            box-shadow: 6px -12px 30px 3px white;
            border: 6px dotted white; 
        }

        .reject-css {
            all: unset;
            box-shadow: 0px 3px 3px 3px rgb(202, 0, 0);
            font-size: 6px; 
            background-color:white; 
            cursor: not-allowed;
        }

        .reject-css:hover {
            box-shadow:0px 3px 30px 3px black; 
            font-size: 15px; 
            padding: 6px; 
            color: red; 
        }

      .linebreaks {
        white-space: pre-wrap;
        font-size: 6px;
        transition: font-size 1s; 
      }

        .narrow {
            max-width: 60px;
            overflow: hidden;
            }


      @media only screen and (max-width: 750px) {
                .more-info, #about {
                    left: 3vw; 
                    width: 92.3vw; 
                }

                .notmobile{
                    display: none; 
                }

                #menu {
                    width: 96vw; 
                    right: none; 
                    left: 0; 
                }


                .mobileonly {
                  display: inline; 
                }


            }


        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>contact</th>
                <th>img</th>
                <th>title</th>
                <th class="narrow">cost</th>
                <th class="narrow">when</th>
                <th>where</th>
                <th>categories</th>
                <th>described</th>
                <th class="narrow">link</th>
                <th>actions</th>
            </tr>
        
            <% pendingEvents.forEach((event)=>{ %>
                <tr>
                    <td><%=event.owner_name %>, [email], [url]</td>
                    <td><img class="poster-inline" src="<%= event.image_url%>"/></td>
                    <td><%=event.name %></td>
                    <td class="narrow"><%=event.cost %></td>
                    <!-- <td><%=event.start_date %></td> -->
        
                      <% const fullDateTime = new Date(event.start_date); %>
                    <td class="narrow"><%= fullDateTime.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric' }) %> at <%= fullDateTime.toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit' }) %></td>
                    <td><span class="linebreaks"><%=event.location %></span></td>
                    <td><%=event.tags %></td>
                    <td>
                        <% if (event.description) { %>
                            <span class="linebreaks"><%= event.description%></span>
                          <% } %>
                    </td>
                    <td class="narrow">
                        <% if (event.event_url) { %>
                            <a href="<%= event.event_url %>">
                              <%= event.event_url_text || "Link" %>
                            </a>
                          <% } %>
    
                    </td>
                 
                    <td>
                        <form method="GET" action="/approve">
                            <input type="hidden" name="id" value="<%=event.id%>">
                            <input class="approve-css" type="submit" value="approve">
                        </form>
                        <form method="GET" action="/reject" onsubmit="return doubleConfirm()">
                            <input type="hidden" name="id" value="<%=event.id%>">
                            <input class="reject-css" type="submit" value="reject">
                        </form>
                    </td>
                </tr>
                <% }) %>

                <% approvedEvents.forEach((event)=>{ %>
                <tr>
                    <td><%=event.owner_name %>, [email], [url]</td>
                    <td><img class="poster-inline" src="<%= event.image_url%>"/></td>
                    <td><%=event.name %></td>
                    <td class="narrow"><%=event.cost %></td>
                    <td class="narrow"><%= fullDateTime.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric' }) %> at <%= fullDateTime.toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit' }) %></td>
                    <td><%=event.location %></td>
                    <td><%=event.tags %></td>
                    <td>
                        <% if (event.description) { %>
                            <span class="linebreaks"><%= event.description%></span>
                          <% } %>
                    </td>
                    <td class="narrow">
                        <% if (event.event_url) { %>
                            <a href="<%= event.event_url %>">
                              <%= event.event_url_text || "Link" %>
                            </a>
                          <% } %>
    
                    </td>
                 
                    <td>
                        <form method="GET" action="/reject" onsubmit="return doubleConfirm()">
                            <input type="hidden" name="id" value="<%=event.id%>">
                            <input class="reject-css" type="submit" value="reject">
                        </form>
                    </td>
                </tr>
                <% }) %>
        </table>

        <div id="menu">
            <a href="/add">Add another event.</a>
            <span class="notmobile"><br /><br /></span>
            <span class="mobileonly">~~~</span>
            <a href="/">Back to Calendar.</a>
        </div>


<script>
    function doubleConfirm() {
      if (confirm('Are you sure you want to reject this event? It will disappear BOTH from the Calendar and from this editor-facing page. [NOTE: It will remain in the database.]')) {
        return confirm('Press OK once more to confirm that you mean to delete this event permanently.');
      } else {
        return false;
      }
    }
    </script>


        </tbody>
    </table>
    </body>
</html>