<html>
    <head>
        <link href="approveStyle.css" rel="stylesheet">

        <style>

    body {
        font-family: Helvetica;
        background-color: rgb(101, 0, 0);
        font-size: 15px;
      }

      .poster-inline {
        position: relative; 
        width: 30vw;
        float: left;
        box-shadow: 0px 3px 3px 3px rgb(202, 0, 0);
      }


      a {
        color: black;
      }

      #menu {
        position: fixed;
        bottom: 0;
        padding: 2vw;
        width: 210px;
        right: 0;
      }

      .date,
      #menu,
      .more-info,
      .close,
      #about, table {
        background-color: rgb(252, 83, 83);
        color: rgb(71, 0, 0);
        box-shadow: 0px 3px 12px 3px rgb(120, 0, 0);
        z-index: 10;
      }

      table, th, td {
        border: 1px solid;
        }

      @media only screen and (max-width: 750px) {
                .more-info, #about {
                    left: 3vw; 
                    width: 92.3vw; 
                }

                .notmobile{
                    display: none; 
                }

                #menu {
                    width: 96vw; 
                    right: none; 
                    left: 0; 
                }


                .mobileonly {
                  display: inline; 
                }


            }


        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>contact</th>
                <th>img</th>
                <th>title</th>
                <th>cost</th>
                <th>when</th>
                <th>where</th>
                <th>categories</th>
                <th>described</th>
                <th>link</th>
                <th>actions</th>
            </tr>
        
            <% e.forEach((event)=>{ %>
                <tr>
                    <td><%=event.owner_name %>, [email], [url]</td>
                    <td><img class="poster-inline" src="<%= event.image_url%>"/></td>
                    <td><%=event.name %></td>
                    <td><%=event.cost %></td>
                    <td><%=event.start_date %></td>
                    <td><%=event.location %></td>
                    <td><%=event.tags %></td>
                    <td>
                        <% if (event.description) { %>
                            <span class="linebreaks"><%= event.description%></span>
                          <% } %>
                    </td>
                    <td>
                        <% if (event.event_url) { %>
                            <a href="<%= event.event_url %>">
                              <%= event.event_url_text || "Link" %>
                            </a>
                          <% } %>
    
                    </td>
                 
                    <td>
                        <form method="GET" action="/approve">
                            <input type="hidden" name="id" value="<%=event.id%>">
                            <input type="submit" value="approve">
                        </form>
                        <!-- <form method="POST" action="/remove">
                            <input type="hidden" name="id" value="<%=event.id%>">
                            <input type="submit" value="remove">
                        </form> -->
                    </td>

           
               
                </tr>
                <% }) %>

                </table>
    


        <!-- <table>
        <thead class="column-headers">
            <th class="header event-title b">
                <h1>event</h1>
            </th>
            <th class="header contact-title b">
                <h1>contact</h1>
            </th>
            <th class="header cost b">
                <h1>cost</h1>
            </th>
            <th class="header time b">
                <h1>time</h1>
            </th>
            <th class="header loc b">
                <h1>location</h1>
            </th>
            <th class="header categories b">
                <h1>categories</h1>
            </th>
            <th class="header description b">
                <h1>description (optional)</h1>
            </th>
            <th class="header url b">
                <h1>event url</h1>
            </th>
            <th class="header custom-url b">
                <h1>our url</h1>
            </th>
            <th class="header approve">
            </th>
        </thead>
        <tbody>
        <% e.forEach((event)=>{ %>
            <tr class="row">
                <td class="title b"><%=event.name %></td>
                <td class="contac b"><%=event.owner_name %></td>
                <td class="cost b"><%=event.cost %></td>
                <td class="time b"><%=event.start_date %></td>
                <td class="loc b"><%=event.location %></td>
                <td class="categories b"></td>
                <td class="description b"><%=event.description %></td>
                <td class="url b"><%=event.event_url %></td>
                <td class="custom-url b"></td>
                <td class="approve">
                    <form method="GET" action="/approve">
                        <input type="hidden" name="id" value="<%=event.id%>">
                        <input type="submit" value="approve">
                    </form>
                </td>
            </tr>
        <% }) %> -->


        <div id="menu">
            <a href="/add">Add another event.</a>
            <span class="notmobile"><br /><br /></span>
            <span class="mobileonly">~~~</span>
            <a href="/">Back to Calendar.</a>

        </div>

        </tbody>
    </table>
    </body>
</html>