
  <div class="more-info" id="<%=id%>">
      <div class="close" onclick="closeElement('<%=id%>')"> X
    </div>
      <img class="poster-inline" 
           src="<%= image_url %>" 
           srcset="<%= image_url.replace('.webp', '-mobile.webp') %> 600w, <%= image_url %> 1200w"
           sizes="(max-width: 768px) 600px, 1200px"
           alt="Event poster" />
      
      <span class="title"><%=name%></span><br /><br />
      <% let date = start_date.split('T') %>

      <% const fullDateTime = new Date(`${date[0]}T${date[1]}`); %>

      <b>When:</b>
      <%= fullDateTime.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric' }) %> at <%= fullDateTime.toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit' }) %><br /><br />

      <b>Where:</b> <span class="linebreaks"><%=location%></span><br /><br />

      <b>Cost:</b> <%=cost%>

      <% if(event_url) { %>
        <br /><br />
        <a href="<%=event_url%>" target="_blank">
          <% if(event_url_text){ %>
            <%= event_url_text %>
          <% } else {%> 
              Link
          <%}%>
        </a> 
      <% }%>

      <% if (description) { %>
        <br /><br />
        <span class="linebreaks"><%=description%></span>
      <% } %>
      
      <p class="tags">categories: <%= tags %></p>
    </div>
  </div>
</div>
