
  <div class="more-info" id="<%=id%>">
      <div class="close" onclick="closeElement('<%=id%>')"> X
    </div>
      <img class="poster-inline" src="<%=image_url%>" />
      <span class="title"><%=name%></span><br /><br />
      <% let date = start_date.split('T') %>
      <b>When:</b> <%=date[0]%> <%=date[1].substring(0,8)%><br /><br />
      <b>Where:</b> <span class="linebreaks"><%=location%></span><br /><br />
      <b>Cost:</b> <%=cost%><br /><br />
      <% if(event_url) { %>
        <a href="<%=event_url%>">
          <% if(event_url_text){ %>
            <%= event_url_text %>
          <% } else {%> 
              Link
          <%}%>
        </a><br /><br />
      <% }%>
      <span class="linebreaks"><%=description%></span>
      <p class="tags">tags: <%= tags %></p>
    </div>
  </div>
</div>
