
  <div class="more-info" id="<%=id%>">
      <div class="close" onclick="closeElement('<%=id%>')"> X
    </div>
      <img class="poster-inline" src="<%=image_url%>" />
      <span class="title"><%=name%></span><br /><br />
      <% let date = start_date.split('T') %>
      When: <%=date[0]%> <%=date[1].substring(0,8)%><br /><br />
      Where: <%=location%><br /><br />
      Cost: <%=cost%><br /><br />
      Cals: [list of cals]<br /><br />
      Link: [optional]<br /><br />
      <%=description%>
    </div>
  </div>
</div>
