<% if(e[0].event_url != ''){ %>
<div class="more-info" id="<%=e[0].event_url%>">
  <% } else {%>
  <div class="more-info" id="<%=e[0].id%>">
    <% }%> 
<% if(e[0].event_url != ''){ %>
    <div class="close" onclick="closeElement('<%=e[0].event_url%>')">
     <% } else {%>
      <div class="close" onclick="closeElement('<%=e[0].id%>')">
<% }%> X
    </div>
      <img class="poster-inline" src="<%=e[0].image_url%>" />
      <span class="title"><%=e[0].title%></span><br /><br />
      When: <%=e[0].start_date%><br /><br />
      Where: <%=e[0].location%><br /><br />
      Cost: <%=e[0].cost%><br /><br />
      Cals: [list of cals]<br /><br />
      Link: [optional]<br /><br />
      <%=e[0].description%>
    </div>
  </div>
</div>
